<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {%-feed_meta-%}

  <!-- arabic font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet"> 

  
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% seo %}

  <!-- indieweb -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  <link href="https://twitter.com/person72443" rel="me">
  <link href="https://github.com/person-al" rel="me">
  <link href="https://mastodon.social/web/@person72443" rel="me">
  <link rel="webmention" href="{{site.webmention_link}}" />
  <link rel="pingback" href="https://webmention.io/person-al.github.io/xmlrpc" />
</head>
