// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
.bismillah {
  text-align: center;
  font-family: 'Amiri', serif;
  font-size: 25px;
}

// Moving footnotes to the bottom of the page
.post-contents{
  display: flex;
  flex-direction: column;
}
.footnotes{
  order:2;
}


html { height: 100% !important; }

body {
  font-family: monospace !important;
  font-size: 16px !important;
  line-height: 1.4 !important;
  margin: 0;
  min-height: 100% !important;
}

.post-meta { text-align: right !important; }

time.no-formatting { background: none !important; }

// h2, h3, h4, h5, h6 { margin-top: 0.5rem !important; }

hr { margin: 2rem 0 !important; }

p { margin: 0.6rem 0 !important; }

// li { margin: 0.3rem 0 !important; }

.w {
  width: fit-content !important;
  max-width: 640px !important;
  margin: 0 auto !important;
  @media only screen and (min-width: 800px) {
    padding-top: 4rem !important;
  }
}

hr {
  text-align: center !important;
  border: 0 !important;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

.footnotes {
  border-top: thin solid;
  margin-top: 20px;
}

table { width: 100% !important; }

table, th, td {
  border: thin solid !important;
  border-collapse: collapse !important;
  padding: 0.4rem !important;
}

div.highlighter-rouge code {
  display: block !important;
  overflow-x: auto !important;
  white-space: pre-wrap !important;
  padding: 1rem !important;
}

blockquote {
  font-style: italic !important;
  border: thin solid !important;
  padding: 1rem !important;

  p { margin: 1rem 0 !important; }
}

img {
  max-width: 100% !important;
  display: block !important;
  margin: 0 auto !important;
}