---
layout: default
---

{%-include back_link.html-%}
<article class="h-entry hentry">
  <p class="post-meta">
    <time class="no-formatting dt-published published" datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
    {%- if page.last_modified_at -%}
    <br>
    Last Tended: <time class="dt-updated" datetime="{{ page.last_modified_at }}">{{ page.last_modified_at | date: site.theme_config.date_format }}</time>
    {%- endif -%}
  </p>
  
  <h1 class="p-name entry-title">{{ page.title }}</h1>

  <div class="e-content entry-content post-contents">
    {{ content }}
    <hr/>
    {%- include comment_form.html -%}
    <mark>{{site.disclaimer}}</mark>
  </div>

  <a hidden class="u-url url" href="{{ site.url | append: page.url }}">permalink</a>
  <a hidden rel="author" class="p-author h-card" href="{{ "/" | relative_url }}">
    <img class="u-photo" src={{ site.blog_assets_location }}/avatar.png>
    person
  </a>
  {% for tag in page.tags %}
  <div hidden class="p-category">{{tag}}</div>
  {% endfor %}

  {%- include updates.html -%}
</article>